@model MyWebsiteEntity.Models.LocalPasswordModel

@using (Html.BeginForm("Settings", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <ul>
            <li>
                <h4>
                    @Html.LabelFor(m => m.OldPassword)
                </h4>
                <div>
                    @Html.PasswordFor(m => m.OldPassword)
                </div>
            </li>
            <li>
                <h4>
                    @Html.LabelFor(m => m.NewPassword)
                </h4>
                <div>
                    @Html.PasswordFor(m => m.NewPassword)
                </div>            
            </li>
            <li>
                <h4>
                    @Html.LabelFor(m => m.ConfirmPassword)
                </h4>
                <div>
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </div>  
            </li>
        </ul>
        <input type="submit" value="Change password" />
    </fieldset>
}
