@model MyWebsiteEntity.Models.CommentModel

<div class="model-container dp-none dp-block">
    <button class="Button borderless close visible close-model" style="right: 31px;">
        <em class="fa fa-times fa-2x"></em>
    </button>
    <div class="modelpopup">
        <div class="model-box">
            <img src="@Url.Content(Model.imgurl)" />
        </div>
        <div class="model-box">
            <div class="pinDescription">
                <div class="pinDescriptionComment detailed">
                    <a class="userThumbContainer" href="#">
                        <img class="userThumb" alt="" src="/images/miew1.jpg" />
                    </a>
                    <div class="commenterNameCommentText">
                        <div class="commenterWrapper">
                            <a class="commentDescriptionCreator" href="#">
                                @Html.DisplayFor(model => model.OP)
                            </a>
                            <span class="commentDescriptionTimeAgo">
                                • 4 days ago
                            </span>
                        </div>
                        <h1 class="commentDescriptionContent">
                            @Html.DisplayFor(model => model.Description)
                        </h1>
                    </div>
                </div>
            </div>
            <div class="PinCommentList">
                <div class="commentsContainer">
                    <ul class="listComments">
                        @if (Model.Comments != null)
                        {
                            for (var i = 0; i < Model.Comments.Count(); i++)
                            {
                                <li>
                                    <div class="pinDescriptionComment detailed">
                                        <a class="userThumbContainer" href="#">
                                            <img class="userThumb" alt="" src="/images/miew1.jpg" />
                                        </a>
                                        <div class="commenterNameCommentText">
                                            <div class="commenterWrapper">
                                                <a class="commentDescriptionCreator" href="#">
                                                     @Html.DisplayFor(model => Model.UserNames[i])
                                                </a>
                                                <span class="commentDescriptionTimeAgo">
                                                    • 4 days ago
                                                </span>
                                            </div>
                                            <h1 class="commentDescriptionContent">
                                                    @Html.DisplayFor(model => Model.Comments[i])
                                            </h1>
                                        </div>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="pinDescriptionComment detailed">
                <a class="userThumbContainer" href="#">
                    <img class="userThumb" alt="" src="/images/miew1.jpg" />
                </a>
                <div class="commenterNameCommentText">
                    <div class="commenterWrapper">
                        <a class="commentDescriptionCreator" href="#">
                            @User.Identity.Name
                        </a>
                        <span class="commentDescriptionTimeAgo">
                            • This is you
                        </span>
                    </div>
                    <h1 class="commentDescriptionContent">
                        <textarea class="commentContent" placeholder="Comment this post" name="comment"></textarea>
                    </h1>
                    <p>
                        <button class="Button btn primary" id=@Model.EntityId name=@Model.imgurl>
                            <span class="buttonText" id=@Url.Action("Comment", "Account")>
                                Submit
                            </span>
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
